
*peta{
  position: relative;
  padding-bottom: 50%;
  background: blueviolet;
}
*peta iframe{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
#tabkontak .icon {
  text-align: center;
  padding: 5px;

}
#tabkontak .content {
  text-align: left;
}
.carousel-item img{
  width: 200px;
  height: 200px;
}
.carousel-item {
  text-align: center;
  
}
.bintang {
  color: gold;
  font-size: 2rem;
}
.navbar-brand {
font-size: 1.5rem;  
padding: 5px;
color: #E5D9F2;
background: #cce7e8;
text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
color: #202c2d;
background: #cce7e8;
}
.color{
color: #333333;
background: #E5D9F2;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
color: #333333;
background: #cce7e8;
}
.jasa{
  padding: 50px;
  color: #202c2d;
background: #cce7e8;
text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
color: #202c2d;
background: #cce7e8;
}
.ket{
  padding: 50px;
  color: #202c2d;
background: #FFFFFF;
text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
color: #202c2d;
background:#cce7e8;
}
.monyet {
  color: #444444;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
color: #444444;

}
.container {
  text-align: center;
}
.jasa {
  background: #cce7e8;
}
.ket {
  background: #cce7e8;
}
.copy{
  background: #cce7e8;
}
#bt-up{
  position: fixed;
  x-index: 99;
  right: 10px;
  bottom: 10px;
}
#bt-up a{
  font-size: 2rem;
  text-decoration: none;
  color: grey;
  opacity: 0.2;
}
#bt-up a:hover{
  opacity: 1;
}
.card-img-top{
  box-shadow: 2px 3px 20px 16px rgba(51,77,0,0.63);
-webkit-box-shadow: 2px 3px 20px 16px rgba(51,77,0,0.63);
-moz-box-shadow: 2px 3px 20px 16px rgba(51,77,0,0.63);
}

.card{
  margin: 20px;
}
#biografi{
  position: relative;
  margin: 15px;
  
}
